.NavbarItems{
	background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	z-index: 1;
	
}

.navbar-logo{
	color: #fff;
	justify-self: start;
	cursor: pointer;
}

.fa-react{
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

.nav-menu{
	display: grid;
	grid-template-columns: repeat(20, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 70vw;
	justify-content: end;
	margin-right: 2rem;
	
}

.nav-links{
	color: white;
	text-align: center;
	/*padding: 2rem;*/
	padding: 1vw;
	font-size: 2.5vw;
	width: 100%;
	display: table;
}

.nav-links:hover{
	background-color: red;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.fa-bars{
	color: #fff;
}

.nav-links-mobile{
	display: none;
}

.menu-icon{
	display: none;
}

@media screen and (max-width: 600px){
	.NavbarItems{
		position: fixed;
	}
	
	.nav-menu{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 800px;
		position: absolute;
		/*top: 80px;*/
		top: 40px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}
	
	.nav-menu.active{
		background: #6668f4;
		left: 0;
		opacity: 1;
		height: 1200px;
		transition: all 0.5s ease;
		z-index: 1;
	}
	
	.nav-links{
		text-align: center;
		padding: 2vw;
		font-size: 10vw;
		width: 100%;
		display: table;
	}
	
	.nav-links:hover{
		background-color: #7577fa;
		border-radius: 0;
	}
	
	.navbar-logo{
		position: relative;
		top: 0;
		left: 0;
		transform: translate(25%, 50%);
	}
	
	.menu-icon{
		margin-top: 1.5em;
		display: block;
		position: relative;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 5vw;
		cursor: pointer;
	}
	
	.fa-times{
		color: #fff;
		font-size: 2rem;
	}
}