.music-container-1{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    width: 85%;
    padding-left: 10%;
}

.music-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.one-song{
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); /* parameters are (red, green, blue, alpha) */
    flex: 1 1 40%;
    background: black;
    margin: 25px;
}

.page-title{
    font-size: 10vw;
    color: white;
    margin-top: 20px;
}

.band{
    color: red;
    font-size: 5vw;
}

.album-title{
    color: fuchsia;
    font-size: 4vw;
}

.players{
    flex: 1;
    color: yellow;
    font-size: 3vw;
    list-style-type: none;
}

.song-title{
    margin-top: 5%;
    text-decoration: underline overline;
    text-decoration-color: red;
    color: yellow;
    font-size: 3vw;
}

.youtube-link{
    height: 300px;
}

.audio-link{
    flex: 1 1 40%;
    width: 50%;
    margin-left: 25%;
}

.audio-link-2{
    flex: 1 1 40%;
    width: 50%;
    margin-left: 25%;
}

.gen-link{
    font-size: 5vw;
    text-decoration: underline;
}

.directions{
    color: aquamarine;
}

.woo-logo{
    width: 37.5vw;
    height: 22.5vw;
    margin-bottom: 10vw;
}
.react-player{
    flex: 1 1 40%;
    margin-left: 30%;
}

@media(max-width: 800px){
    .youtube-link{
        flex: 1;
        margin-left: 18%;
        height: 23vw;
    }

    .players {
        margin-right: 10%;
    }

    .audio-link{
        width: 90%;
        margin: 5%;
    }
    .audio-link-2{
        flex: 1 1 40%;
        width: 40%;
        margin-bottom: 50%;
        justify-content: start;
        height: 23vw;
    }        
}