.web-apps-container{
    border: 0.5em dotted purple;
    margin-top: 10em;
    width: auto;
    overflow: hidden;
}

.page-title{
    font-size: 10vw;
    color: white;
}

.directions{
    padding-top: 2vw;
    color: aquamarine;
    font-size: 4vw;
}

.comments{
    /*padding-top: 2vw;*/
    color: hotpink;
    /* font-size: 3vw; */
    font-size: 16vw;
}

.links{
    color: crimson;
    font-size: 6vw;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: aquamarine;
    animation: animate 1.0s linear infinite;
}

.game-static-image{
    width: 50vw;
    height: 40vw;
}

@media(max-width: 800px){
    .page-title{
        font-size: 15vw;
        color: white;
    }
    
    /* .directions{
        color: aquamarine;
        font-size: 4vw;
    } */
    .comments{
        font-size: 8vw;
    }

    .links{
        color: crimson;
        font-size: 6vw;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: aquamarine;
        animation: animate 1.0s linear infinite;
    }

    .game-static-image{
        width: 75vw;
        height: 60vw;
    }
}