.App {
	text-align: center;
	font-family: 'Bangers', cursive;
	
	background-position: center;
	min-height: 200em;
	/* background-image: url(./images/Me_Fort_Worth_Bridge_Travis_Pic.jpg); */
	background-image: url(./images/me_hat_and_st_pats_tie_150_200.jpg);
	width: auto;
}





